<!DOCTYPE html>
<html>

<head>
    <title>Top Albums</title>
    <style type="text/css">
    	.highlight{
    		background: YELLOW;
    	}

    </style>
</head> 

<body>
    <h1>Top 100 Albums of all Time</h1>
    <form >
    	<input type="text" name="index">
    	<input type="submit">
    </form>
    <a href="?sort_by=rank" class="<%= @sort_by_ = 'rank' %>">rank</a> <a href="?sort_by=title">title</a> <a href="?sort_by=year">year</a>
    <% @album_list.each_with_index do |(key, value),index|%>
    	<% if @ind.to_i == index + 1%>
    		<p class = "highlight"><%= index += 1 %>: <%= key %> ,<%= value %></p>
    	<% else %>
    		<p><%= index += 1 %>: <%= key %> ,<%= value %></p>
    	<% end %>
    <% end %>
</body>
</html>
